/* Can not use .less variables with multiple files. */
html {
  --height-main-row: 200px;
  --paddings-main-elements: 5px;
}
.ht7-chat-base {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 5px;
}
.ht7-chat-base footer .container-input {
  position: relative;
}
.ht7-chat-base footer .container-input button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 12px;
  top: 9px;
}
.ht7-chat-base footer .container-input button i {
  font-size: 18px;
}
.ht7-chat-base footer .container-input textarea {
  height: 36px;
  padding-right: 50px;
  resize: none;
}
.ht7-chat-base footer .container-input .form-group:last-of-type {
  margin-bottom: 0;
}
.ht7-chat-base header > div {
  background-color: #334;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #eed;
  margin-bottom: 5px;
  padding: 5px;
}
.ht7-chat-base header > div .pull-left h2 {
  font-size: 18px;
  margin: 0;
}
.ht7-chat-base header > div .pull-right button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.ht7-chat-base header > div .pull-right button:not(:last-of-type) {
  margin-right: 3px;
}
.ht7-chat-base header > div .pull-right button i {
  font-size: 18px;
}
.ht7-chat-base main .container-output,
.ht7-chat-base main .container-members {
  margin-bottom: 20px;
}
.ht7-chat-base main .container-output .well,
.ht7-chat-base main .container-members .well {
  height: var(--height-main-row);
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--paddings-main-elements);
}
.ht7-chat-base main .container-output .well .item,
.ht7-chat-base main .container-members .well .item {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.ht7-chat-base main .container-output .well .item .avatar,
.ht7-chat-base main .container-members .well .item .avatar {
  float: left;
  margin-right: 5px;
}
.ht7-chat-base main .container-output > .well .well .item:after,
.ht7-chat-base main .container-output > .well .well .item:before {
  content: "";
  display: table;
}
.ht7-chat-base main .container-output > .well .well .item:after {
  clear: both;
}
.ht7-chat-base main .container-output > .well .well .item:not(.user-self) > div {
  float: right;
}
.ht7-chat-base main .container-output > .well .well .item > div {
  float: right;
}
.ht7-chat-base main .container-output > .well .well .item > div.user-self {
  float: left;
}
.ht7-chat-base main .container-members > .well {
  /*width: 25%;*/
}
